@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient_bg {
  background: hsla(277, 79%, 84%, 1);

  background: linear-gradient(
    90deg,
    hsla(277, 79%, 84%, 1) 0%,
    hsla(204, 95%, 77%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(277, 79%, 84%, 1) 0%,
    hsla(204, 95%, 77%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(277, 79%, 84%, 1) 0%,
    hsla(204, 95%, 77%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#DDB4F6", endColorstr="#8DD0FC", GradientType=1 );
}
